@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERAL */

body {
  height: 100vh;
  color: hsl(0, 0%, 100%); /* color de texto */
  background-color: black;
  font-family: 'Montserrat', sans-serif;/* color*/
}

header {
  background-color: black;
  color: hwb(0 100% 0%); /* color de texto */
  font-family: 'Arvo', serif;
  height: 250px;
}
header img{
  height: 50px;
  align-items: center;
  justify-content: center;
}

main{
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('../img/background.jpg'); */
}

li {
  list-style:none;
}
/* titulo */
h1 { 
text-align: center;
font-size: 100px;
font-family: 'Abril Fatface', cursive;
text-decoration: underline;

}
h2   { 	
text-align: center;


}

h4 {
  
  text-align: center;
  font-size: 30px;
  color: white; /* color de texto */

}

/* estilos nav */

nav {
  width: 100%; /* ancho del div */
  height: auto;
  background-color: black; /* color de fondo */
  padding: 20px;
  position: sticky;
  top: 0; /* posicin del menu */

}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 30px;
  font-size: 25px;
}


/* ESTILO INDEX */


.destacadas {
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  padding: 20px;
  
  
}
.destacadas h2{
  font-size: 40px;
  justify-content: center;
  text-align: center;
  color: white;
}
.destacadas-container {
  margin-top: 50px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,0.7);
 
}
.serie-destacada {
  display: block;
  padding: 20px;
  width: 250px;
  background-color: darkred;
  text-align: center;
  border-radius: 15px;
  border: 3px; 
  border-color: white;
  margin: 20px;
  margin-bottom: 20px;
}
.serie-destacada img {
  max-width: 	90%;
  height: auto;
  border: 	2px solid black; 
  
}
.serie-destacada h4 {
  text-decoration: underline;
}

.serie-destacada .clasificacion {
  display: flex;
  color:  white;
  font-size: 20px;
  text-align:  center;
  justify-content: space-around;
  height: 65px;
}

.serie-destacada button{
  font-size: 20px;
  width: 80%; /* igual al de la etiqueta */
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
} 
  
  
.info {
  display: flex;
  justify-content: center; 	
  align-items: center; 	
  padding:  20px; 
  color: white; 
}
.nosotros {
  padding:  40px;
  margin: 20px;
  background-color: rgba(0,0,0, 0.7);
  text-align: justify;
}
.contacto {
  padding:  40px;
  margin: 20px;
  background-color: rgba(0,0,0, 0.7);
  text-align: justify;
  }


footer {
  text-align: center;
  background-color: rgba(0,0,0, 0.7);
  padding:  20px;
  color:  white; 
}

/* ESTILOS SERIES.HTML */


.categorias {
  text-align: center;
  color: white; 
  background-color: black;
  padding: 20px;
  
}
.selector-categorias{
  font-size: 25px;
  
}
.selector-categorias a{
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: transparent ;
  border-radius: 5px;
  border: 2px solid white ;
  padding: 5px;
  margin-bottom: 40px;
}
.categoria.seleccionada {
  background-color: darkred;
}


.series {
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  padding: 20px;
  
  
}
.series h2{
  font-size: 40px;
  justify-content: center;
  color: white;
}
.series-container {
  margin-top: 50px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px; 
  background-color:rgba(0,0,0,0.7);
  padding: 20px;
}
.serie {
  display: block;
  padding: 20px;
  width: 250px;
  background-color: darkred;
  text-align: center;
  border-radius: 15px;
  border: 3px; 
  border-color: white;
  margin: 20px;
  margin-bottom: 20px;
}
.serie img {
  max-width: 	90%;
  height: auto;
  border: 	2px solid black; 
  
}
.serie h4 {
  text-decoration: underline;
}

.serie .clasificacion {
  display: flex;
  color:  white;
  font-size: 20px;
  text-align:  center;
  justify-content: space-around;
  height: 65px;
}

.serie button{
  font-size: 20px;
  width: 80%; /* igual al de la etiqueta */
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
} 

/* ESTILOS INICIO SESION Y REGISTRARSE */